@media(max-width: 1099px) {

  /* general */
  input
  {
  width: 70vw;
  height: 30px;
  margin: 20px;
  border: none;
  border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
  outline: none;
  padding-bottom: 5px;
  font-size: 15px;
  }

  .ulLogo .liSelected {
    display: flex;
    font-size: 150%;
  }

  #logOutOptions{
    display: none;
  }

  #navOptionsResponsive{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #navOptionsResponsive button{
    color: #fff;
    font-size: 150%;
  }

  #navOptionsResponsive a{
    color: #fff;
  }

  #navOptionsResponsive li{
    list-style: none;
    font-size: 150%;
  }

  #navOptionsResponsive .dropdown-menu{
    left: 0;
    border-radius: 0;
    background: #1F1F1F;
    width: 100% !important;
    height: 300px !important;
    transform: translateY(-10px) !important;
    color: #fff;
  }

  #navOptionsResponsive > .dropdown-caller:focus +.dropdown-menu{
    transform: translateY(-10px) !important;
  }


  .navOptions{
    display: none;
  }


  /* gestor_indice */

  #gestor_indice
  {
  width: var(--gapWidth);
  background: #fff;
  margin-bottom: 0;
  }

  #gestor_indice ul
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }

  #gestor_indice ul button
  {
    width: calc(100% / 6);
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }

  #gestor_indice ul li:hover
  {
  cursor: pointer;
  background: rgba(130, 180, 54, 1);
  color: #fff;
  transition: 0.8s;
  }

#gadgets
{
  width: var(--gapWidth);
  height: 140px;
  background: #fff;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#gadgets ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.manage
{
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: calc(9vh * 0.5);
}

.fa-backward
{
  opacity: 0;
  display: none;
}

.unshow
{
  opacity: 0;
  transition: opacity;
  transition-duration: 5s;
  display: none;
}

.show
{
  opacity: 1;
  transition: opacity;
  transition-duration: 5s;
  display: block;
}

#buscador
{
  width: 100px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}

#filtro
{
  width: 100px;
  height: 40px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
}

#buscador_button, #add
{
  width: 70px;
  height: 40px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
  background: #292929;
  color: #fff;
}

#add
{
  width: 320px;
}

.checked
  {
    position: absolute;
    right: -40px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
    color: rgba(130, 180, 54, 1);
    display: flex !important;
  }

  #plano-checked, #event-checked, #producto-checked, #imagen-checked{ display: none; }

#buscador_button:hover
{
  background: #fff;
  color: #292929;
  cursor: pointer;
  transition: all;
  transition-duration: 0.7s;
}


  /* gestor_menu  // lista & formulario de ingreso*/

  #gestor_menu
  {
  width: var(--gapWidth);
  height: 60vh;
  margin-top: 0;
  position: relative;
  overflow-y: scroll;
  background: #fff;
  }

  .menu
  {
  width: 100%;
  height: 100%;
  background: #fff;
  display:flex;  
  z-index: 2;
  position: absolute;
  /* flex-direction: column-reverse; */
  }

  .list
  {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns:  1fr;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  overflow-y: scroll;
  }

  .list > span
  {
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
    box-shadow: 2px 2px 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list_sub_data
  {
  display: flex;
  justify-content: space-between;
  }

 .forms
  {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100vw;
  }


  .forms h2
  {
  padding-bottom: 0vw;
  }

  .forms button
  {
  width: 125px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  border: 0.25vh solid rgba(0,0,0, 0.6);
  background: transparent;
  text-transform: lowercase;
  font-size: 18px;
  margin: 40px;
  }

  .forms button:hover
  {
  cursor: pointer;
  background: rgba(130, 180, 54, 1);
  color: #fff;
  transition: 0.8s;
  border: none;
  }

  .forms button:nth-of-type(3):hover
  {
  cursor: pointer;
  background: rgb(180, 54, 54);
  color: #fff;
  transition: 0.8s;
  border: none;
  }

  .forms input:focus
  {
  border-bottom: 0.3vh solid rgba(130, 180, 54, 0.6);
  transition: 0.5s;
  }


  .forms button
  {
      margin: 1.3vh;
  }

  .forms > span
  {
    display: flex;
  }

  textarea
  {
  width: 71vw;
  height: 120px;
  padding: 5px;
  resize: vertical;
  }

  input[type='file']{ display: none;}

  .cargar_file
  {
    border: 0.25vh solid rgba(0,0,0, 0.6);
    width: 250px;
    height: 40px; 
    text-transform: lowercase;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    padding: 5px;
  }

  .none_border
  {
  border: none;
  } 

  .objeto{ width: 50vw }
  .counter{ width: 15vw !important; padding-left: 5vw; margin: 0; }
  .objeto, .counter {margin: 20px 0 20px 0 !important;}

  .gestion_map{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .gestion_map button 
  {
    width: 100% !important;
  }
  .gestion_map .dropdown-menu{
    left: 0;
    border-radius: 0;
    background: #1F1F1F;
    width: 90% !important;
    /* height: 120px !important; */
    transform: translateY(-10px) !important;
    color: #fff;
    padding: 5% !important;
    justify-content: space-between;
    height: auto !important;
  }

  .dropdown-menu li{ list-style: none;}

  .dropdown-menu li:hover
  {
    list-style: none;
    cursor: pointer;
  }

  .gestion_map > .dropdown-caller:focus + .dropdown-menu
  {
    opacity: 1;
    transform: translateY(-10px) !important;
  }

#eventos:focus, #usuarios:focus, #productos:focus, #imagenes:focus
  {
    background: #1F1F1F;
    color: #fff;
    transition: 0.8s;
  }

  .variants_system
  {
    width: 70vw;
    height: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .variant
  {
    width: 70vw;
    height: 30px;
    margin: 20px;
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 20px !important;
    position: relative;
  }

  .variant input
  {
    width: 100%;
    height: 50%;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
    font-size: 15px;
    margin: 0;
  }

  #add-variant
  {
    position: absolute;
    left: -30px;
    font-size: 30px;
  }
  .icon-variant
  { 
    font-size: 20px; 
    margin: auto;
    position: absolute;
    left: -30px;
  }

objeto
  #ingredient-field
  {
    position: relative;
  }
  #add-ingredient
  {
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
  }

  .enter
  {
    transform: translateX( 100vw);
    transition: all;
    transition-duration: 2s;
  }

  .leave
  {
    transform: translateX( -100vw);
    transition: all;
    transition-duration: 2s;
  }

  th{
    font-size: .8rem;
    padding: 10px;
    /* border: 1px solid rgba(130, 180, 54, 1); */
    /* border: 1px solid #292929; */
    text-align: left;
  }

  td{
    font-size: .8rem;
    padding: 10px;
    /* border: 1px solid rgba(130, 180, 54, 1); */
    /* border: 1px solid #292929; */
  }

  table{
    border-collapse: collapse;
    /* border: 2px solid rgba(130, 180, 54, 1); */
    border: 1px solid #292929;
    width: 330px;
    margin: 0 0 10px 0;
  }

  .select
  {
    width: 70vw;
    height: 30px;
    margin: 20px;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
    font-size: 15px;
  }

  .encargado-input{
    width: 35vw;
  }

  #gestor_indice_responsive
  {
    width: 100%;
    background: #fff;
  }

  .gestion-dropdown
  {
    position: relative;
  }

  .gestion-dropdown > button
  {
    width: 100%;
    height: 100%;
    color: #1F1F1F !important;
  }

  .gestion-dropdown button
  {
    color: #fff;
    height: 30px;
    background: transparent;
    border: none;
  }

  #opciones-drop
  {
    left: 0;
    width: 100% !important;
    height: auto !important;
    background-color: #1F1F1F;

  }

  .gestion-dropdown > .dropdown-caller:focus + .dropdown-menu
  {
    opacity: 1;
    transform: translateY(-10px) !important;
    z-index: 999;
  }

  #gestor_indice
  {
    display: none;
  }

  #confirmar-accion
  {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #cartel
  {
    width: 350px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: rgb(0 0 0 / 70%) 0px 0px 20px;
  }

  #cartel button
  {
    background: transparent;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    /* border: 1px solid rgb(41, 41, 41); */
    color: #fff;
    font-weight: 600;
    margin: 5px;
  }

  #cartel button:nth-of-type(1){background: rgb(180, 54, 54);}
  #cartel button:nth-of-type(2){background: rgba(130, 180, 54, 1);}


  #cartel span
  {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #cartel p
  {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
  }

  #cartel button:hover{cursor: pointer;}

  footer
  {
    height: 50px;
    position: absolute;
    bottom: 0;
  }

}