@media(min-width: 1100px){
  /* general */

  input
  {
  width: 330px;
  height: 30px;
  margin: 20px;
  border: none;
  border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
  outline: none;
  padding-bottom: 5px;
  font-size: 15px;
  }

  #mover, #navOptionsResponsive{
    display: none;
  }


/* gestor_indice */

#gestor_indice
{
  width: var(--gapWidth);
  height: 70px;
  background: #fff;
  margin-bottom: 0;
}

#gestor_indice ul
{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#gestor_indice ul button
{
  width: calc(100% / 6);
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

#gestor_indice ul button:hover
{
  cursor: pointer;
  background: #1F1F1F;
  color: #fff;
  transition: 0.8s;
}

#gadgets
{
  width: var(--gapWidth);
  height: 80px;
  background: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

#gadgets ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#buscador
{
  width: 250px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}

#filtro
{
  width: 250px;
  height: 40px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
}

#buscador_button
{
  width: 125px;
  height: 40px;
  border: 0.3vh solid rgba(0, 0, 0, 0.7);
  background: #292929;
  color: #fff;
}

#buscador_button:hover
{
  background: #fff;
  color: #292929;
  cursor: pointer;
  transition: all;
  transition-duration: 0.7s;
}

  /* gestor_menu  // lista & formulario de ingreso*/

  #gestor_menu  
  {
  width: var(--gapWidth);
  height: 600px;
  margin-top: 0;
  position: relative;
  overflow-y: scroll;
  }

  .menu
  {
  width: 100%;
  /* height: 100%; */
  background: #fff;
  display:flex;  
  position: absolute;
  }

  .list
  {
  width: 60%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  overflow-y: scroll;
  }

  .forms
  {
  width: 40%;
  /* height: inherit; */
  border-left: 2px solid rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;   */
  justify-content: flex-start;
  }

  textarea
  {
  width: 320px;
  height: 60px;
  padding: 5px;
  resize: vertical;
  }

  .none_border
  {
  border: none;
  }

  .none_margin
  {
    margin: 0 !important;
  }

  .none_display{ display: none;}

  .list h2 { font-weight: 500 }

  .list > span
  {
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
    box-shadow: 2px 2px 7px gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list_sub_data
  {
  display: flex;
  justify-content: space-between;
  }

  .forms h2
  {
  padding-bottom: 2vw;
  }

  .forms button
  {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  border: 0.25vh solid rgba(0,0,0, 0.6);
  background: transparent;
  text-transform: lowercase;
  font-size: 18px;
  margin: 15px;
  }

  .forms button:hover, .cargar_file:hover
  {
  cursor: pointer;
  background: rgba(130, 180, 54, 1);
  color: #fff;
  transition: 0.8s;
  border: none;
  border: 0.25vh solid rgba(130, 180, 54, 1);
  }

  input[type='file']{ display: none;}

  .cargar_file
  {
    border: 0.25vh solid rgba(0,0,0, 0.6);
    /* width: 250px; */
    width: 330px;
    height: 40px; 
    text-transform: lowercase;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
  }

  .forms > span
  {
    display: flex;
  }

  .forms button:hover:nth-of-type(2)
  {
  cursor: pointer;
  background: rgb(180, 54, 54);
  color: #fff;
  transition: 0.8s;
  border: none;
  }

  .forms input:focus, .select:focus
  {
  border-bottom: 0.3vh solid rgba(130, 180, 54, 0.6);
  transition: 0.5s;
  }

  .select
  {
    width: 330px;
    height: 30px;
    margin: 20px;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
    font-size: 15px;
  }

  .objeto{ width: 250px;}
  .counter{ width: 70px; padding-left: 10px;}
  .objeto, .counter {margin: 20px 0 20px 0;}

  .list span:hover {cursor: pointer;}

  .gestion_map{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .gestion_map button 
  {
    width: 100% !important;
  }
  .gestion_map .dropdown-menu{
    left: 0;
    border-radius: 0;
    background: #1F1F1F;
    width: 90% !important;
    /* height: 120px !important; */
    transform: translateY(-10px) !important;
    color: #fff;
    padding: 5% !important;
    justify-content: space-between;
    height: auto !important;
  }

  .dropdown-menu li{ list-style: none;}

  .dropdown-menu li:hover
  {
    list-style: none;
    cursor: pointer;
  }

  .gestion_map > .dropdown-caller:focus + .dropdown-menu
  {
    opacity: 1;
    transform: translateY(-10px) !important;
  }

#eventos:focus, #usuarios:focus, #productos:focus, #imagenes:focus
  {
    background: #1F1F1F;
    color: #fff;
    transition: 0.8s;
  }

  .variants_system
  {
    width: 330px;
    height: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .variant
  {
    width: 330px;
    height: 30px;
    margin: 20px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px !important;
    position: relative;
  }

  .variant input
  {
    width: 100%;
    height: 50%;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
    font-size: 15px;
    margin: 0;
  }

  #add-variant
  {
    position: absolute;
    left: -30px;
    font-size: 30px;
  }
  .icon-variant
  { 
    font-size: 20px; 
    margin: auto;
    position: absolute;
    left: -30px;
  }

  #ingredient-field
  {
    position: relative;
  }
  #add-ingredient
  {
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
  }
  .table-list
  {
    border: 1px solid black;
    padding: 5px;
    width: 330px;
    margin-bottom: 30px;
  }
  
  #add-variant:hover, .icon-variant:hover {cursor: pointer;}

  #select-rol
  {
    width: 330px;
    height: 30px;
    margin: 20px;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
    font-size: 15px;
  }

  #add-fichTec
  {
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
  }

  #add-encargado
  {
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
  }

  th{
    font-size: .8rem;
    padding: 10px;
    /* border: 1px solid rgba(130, 180, 54, 1); */
    /* border: 1px solid #292929; */
  }

  td{
    font-size: .8rem;
    padding: 10px;
    /* border: 1px solid rgba(130, 180, 54, 1); */
    /* border: 1px solid #292929; */
  }

  table{
    border-collapse: collapse;
    /* border: 2px solid rgba(130, 180, 54, 1); */
    border: 1px solid #292929;
    width: 330px;
    margin: 0 0 10px 0;
  }

  .encargado-input{
    width: calc(330px / 2);
  }

  #gestor_indice_responsive{
    display: none;
  }

  td i
  {
    position: static !important;
  }
}