@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button:hover {
  cursor: pointer;
  background: rgba(130, 180, 54, 1);
  color: #fff;
  transition: 0.8s;
  border: none;
}

@media (min-width: 421px) {

  body {
    background: #303030;
    background: linear-gradient(
      40deg,
      #303030 30%,
      #111111 100%
    );

  }
  
  form {
    width: 70%;
    height: 80%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
  }
  
  form img {
    width: auto;
    height: 13vh;
  }
  
  h2 {
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 60px;
  }
  
  form * {
    margin: 15px;
  }
  
  form input {
    width: 230px;
    height: 30px;
    margin: 10px;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    outline: none;
    padding-bottom: 5px;
  }

  form input:focus, form section:focus {
    border-bottom: 0.3vh solid rgba(130, 180, 54, 0.6);
    transition: 0.5s;
  }

  form section {
    width: 230px;
    height: 35px;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.7);
    display: flex;
    position: relative;
  }

  #inPass
  {
    width: 190px;
    padding-right: 40px;
  }

  form input {
    width: 230px;
    height: 30px;
    margin: 0;
  }

  #showImg{
    width: auto;
    height: 30px;
    margin: 0 0 5px 0;
    position: absolute;
    right: 0;
    /* bottom: 4px; */
  }

  form img:hover {
    cursor: pointer;
  }
  
  form button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    border: 0.25vh solid rgba(0,0,0, 0.6);
    background: transparent;
    text-transform: lowercase;
    margin: 40px;
  }

  #contentColors {
    display: none;
  }

}

@media (max-width: 420px) {
  
  body
  {
    background: linear-gradient(
      40deg,
    #303030 30%,
    #111111 100%
    );
  }


  form {
    width: 94vw;
    height: 97.5vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
  }

  form img {
    width: auto;
    height: 13vh;
  }
  
    
  form * {
    margin: 1vh;
  }

  h2 {
    text-transform: capitalize;
    font-family: "Dancing script", sans-serif;
    font-weight: bold;
    font-size: 8vw;
    margin: 3vh 0 5vh 0;
  }

  form section {
    width: 56vw;
    height: 4vh;
    border: none;
    outline: none;
    display: flex;
    position: relative;
    margin: 0;
  }

  #form_login > section:nth-child(4) {
    margin: 20px;
  }

  form input {
    width: 50vw;
    height: 3vh;
    padding: 0 3vw;
    margin: 1vh 1vh 2.5vh 1vh;
    border: none;
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0.6);
    outline: none;
  }

  input#inPass {
    width: 40vw;
    padding-right: 13vw;
}

  input:focus {
    border-bottom: 0.3vh solid rgba(130, 180, 54, 0.6);
    transition: 0.5s;
  }

  form section input {
    margin: 0;
    position: absolute;
    bottom: 0;
  }

  #showImg{
    width: auto;
    height: 30px;
    margin: 0 0 0 0;
    position: absolute;
    right: 0;
    bottom: 4px;
  }

  form button {
    width: 50vw;
    height: 4vh;
    border-style: none;
    border: 0.45vw solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    background: #fff;
    text-transform: lowercase;
    margin: 3vh;
    
  }

  #contentColors {
    width: 300px;
    height: 80px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #contentColors img {
    width: auto;
    height: 60px;
    padding: 0 10px 0 10px;
    position: relative;
  }

}

.colorMode
{
  position: absolute;
  bottom: 0;
}

.colorMode i{
  font-size: calc(9vh * 0.3);
  color: #303030;
}

.colorMode i:hover
{
  color: rgba(130, 180, 54, 1);
  transition-duration: 0.8s;
}

#icoSun
{
  color: rgba(130, 180, 54, 1);
}

/*#icoMoon
{
  color: ;
}*/